
body{
	background-color: #262863;
}


/* White Colors */
.g-color-white {
  color: #8082b9 !important;
}

.g-color-white--opened-menu:not(.collapsed) {
  color: #0F1024 !important;
}

.u-block-hover:hover .g-color-white--hover, .g-color-white--hover:hover {
  color: #0F1024 !important;
}

.g-parent:hover .g-color-white--parent-hover {
  color: #0F1024 !important;
}

.g-color-white--active.active {
  color: #0F1024 !important;
}

.active .g-color-white--parent-active {
  color: #0F1024 !important;
}

.g-color-white--child * {
  color: #0F1024 !important;
}

/*encabezado*/
.g-theme-bg-blue-dark-v1-opacity-0_9 {
    background-color:  #f0f0f0 !important;
}
.g-py-25 {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
.g-font-size-11 {
  font-size: 0.80000rem !important;
}
::selection {
  color: rgba(255,255,255, 100) !important;
  background-color: #3949a0;
}
.u-header__logo-img {
  top: 0;
  left: 0;
  width: 17vw;}


.u-heading-v2-1--bottom::after, .u-heading-v2-1--top::before, .u-heading-v2-2--bottom::after, .u-heading-v2-2--top::before, .u-heading-v2-3--bottom::after, .u-heading-v2-3--top::before, .u-heading-v2-4--bottom::after, .u-heading-v2-4--top::before, .u-heading-v2-5--bottom::after, .u-heading-v2-5--top::before, .u-heading-v2-6--bottom::after, .u-heading-v2-6--top::before, .u-heading-v2-7--bottom::after, .u-heading-v2-7--top::before {
  content: "";
  display: inline-block;
  border-top-style: solid;
  border-color:rgb(91,176,58) !important ;
}

.g-theme-bg-blue-dark-v1 {
  background-color: #3135B0 !important;
}

.g-height-100vh {
  height: 100vh !important;
}

/*contacto*/

.g-mb-5 {
  margin-top: 27px;
  margin-bottom: 0.35714rem !important;
}

.g-color-black {
  color: #5bb03a !important;
}

.g-color-gray-dark-v4 {
  color: #FFFFFF !important;
}
 body {
  color:#FFFFFF !important;
 }

 h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #FFFFFF!important;
}

h2, .h2{
  color:#3135b0 !important;
}
h3, .h3{
  color: #5bb03a !important;
}

.u-btn-outline-white {
   color: #3135b0 ;
  border-color: #3135b0;
  background-color: #FFFFFF;
}
.u-btn-outline-white:hover{
color: #FFFFFF ;
  border-color: #FFFFFF;
  background-color: #3135b0;
 }
.u-btn-primary {
    color: #3135b0;
    background-color: #FFFFFF;
    border-color:#3135b0;
}
.u-btn-primary:hover {
    color: #FFFFFF;
    background-color: #3135b0;
    border-color:#FFFFFF;
}
 /*hamburguer*/

 .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  background-color: #5bb03a !important;
}
.g-parent:hover .opacity-0--parent-hover {
  opacity: 1 !important;
}